body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#mainContainer {
  position: absolute;
  grid-auto-flow: row;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#header {
  background-color: #F29422;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(1.3em + 1.3vw);
  font-weight: bold;
  text-align: left;
  padding: calc(0.3em + 0.3vw);
  margin-bottom: calc(0.2em + 0.2%);
}

#myComponent {
  margin-bottom: calc(0.35em + 0.35%);
}
#myComponent img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: calc(0.35em + 0.35%);
}
.grid div {
  height: auto;
}
.grid img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

#mImg {
  display: grid;
  grid-auto-flow: row;
  font-size: calc(0.5em + 0.5vw);
}

#bottomArticle {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%;
  margin-top: calc(1.5em + 1.5%);
  background-color: #4EB1D9;
  font-size: calc(0.5em + 0.5vw);
  gap: 10px;
  margin-bottom: 10px;
}
#bottomArticle img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

#article-image-right-text {
  font-size: calc(0.8em + 0.8vw);
  font-weight: bold;
  padding-bottom: 2px;
}

#forecast {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-block: 25px;
}

.subcontainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subcontainer h2 {
  background-color: #687b8c;
  width: 100%;
  color: white;
  margin: 0;
  padding-block: 20px;
}
.subcontainer #icons {
  background-color: #2384d9;
  width: 100%;
  height: 250px;
  position: relative;
}
.subcontainer #icons img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.subcontainer #temp {
  width: 100%;
  background-color: #345573;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 620px) {
  #mainContainer {
    position: absolute;
    grid-auto-flow: row;
    width: 95%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}/*# sourceMappingURL=App.css.map */